version: "3.9"
services:
  nats:
    image: nats:2.10-alpine
    command: ["-js", "--server_name=nats-local"]
    ports:
      - "4222:4222"
      - "8222:8222"
    healthcheck:
      test: ["CMD", "nats", "--server", "localhost:4222", "check"]
      interval: 5s
      timeout: 3s
      retries: 20

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-health_agentic}
      POSTGRES_USER: ${POSTGRES_USER:-health}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-healthpass}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/01_init.sql:ro
      - ../data:/data:ro
      - ../data/load_csv.sql:/docker-entrypoint-initdb.d/02_load_csv.sql:ro
      - ./db/03_seed_demo.sql:/docker-entrypoint-initdb.d/03_seed_demo.sql:ro

  jaeger:
    image: jaegertracing/all-in-one:1.57
    ports:
      - "16686:16686" # UI
      - "14268:14268"
      - "4317:4317"   # OTLP gRPC

  prometheus:
    image: prom/prometheus:v2.54.1
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:11.1.0
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus

volumes:
  pgdata:
